<div class="favorites-container">
	<i class="fa fa-heart fa-4x"></i>
	<i class="fa fa-heart fa-4x"></i>
	<i class="fa fa-heart fa-4x"></i>
	<i class="fa fa-heart fa-4x"></i>
	<i class="fa fa-heart fa-4x"></i>
</div>

<% favorites.forEach(function(favorite) { %>
	<a href="/search/<%= favorite.imdbId %>" class="well-link">
		<div class="well">
			<div class="row">
				<strong><%= favorite.title %></strong> <br />
				<%= favorite.year %> <br />
				Directed by: <%= favorite.director %> <br />
				Starring: <%= favorite.actor %>
			</div>
			<div class="row">
				<a href="/favorites/<%= favorite.id %>/comments"><button class="btn btn-default">Comments</button></a>
				<a href="/favorites/<%= favorite.id %>/tags"><button class="btn btn-default">Tags</button></a>
			</div>
		</div>
	</a>
<% }); %>

<hr>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3 btn-center">
		<h2>Proin luctus non ante a pellentesque. Maecenas molestie.</h2>
		<p>
			<form action="/search" method="GET" role="search">
				<input class="form-control input-lg" type="text" placeholder="More Favorites" name="q" autocomplete="off">
				<button class="btn btn-lg btn-success btn-input" role="button" type="submit">Search</button>
			</form>
		</p>
	</div>
</div>